%html
  %head
    %title request is response
    %link{ :type => "text/css", :href => "bootstrap/css/bootstrap.min.css ", :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "jquery-1.11.1.min.js" }
    %script{ :type => "text/javascript", :src => "bootstrap/js/bootstrap.min.js" }



  %body
    %h1 headers
    %table{ :class => "table table-striped" }
      %thread
        %tr
          %th header
          %th value
      %tbody
        - @request_headers.each do |key, value|
          %tr
            %td= key
            %td= value

    %h1 Add headers
    %form{:method => "POST", :action => "/headers"}
      %table.expand_headers.table.table-striped
        %thread
          %tr
            %th header
            %th value
        %tbody.add_column
          %tr
            %td
              %input.header{ :type => "text", :name => "header" }
            %td
              %input.value{ :type => "text", :name => "header" }

    %h5
      %ul{ :style => "list-style:none" }
        %li
          %a.add_columns Add columns
        %li
          %a{:href => "authenticate"} authenticate page
        %li
          %a.send_get_sync Send get request with authentication header
        %li
          %a.send_post_sync Send post request with authentication header

:javascript
  $(function() {
    var expand_headers = function() {
      console.log("expand");
      $("tbody.add_column").each(function(data) {
        console.log(data);
      });
      return { "Authorization":"aaa" };
    };

    $(".add_columns").click(function() {
      $("tbody.add_column").append("<tr><td><input class='header' name='header' type='text'></td><td><input class='value' name='header' type='text'></td></tr>");
    });

    $(".send_get_sync").click(function() {
      $.ajax({
        async: false,
        type: "GET",
        url: "/",
        dataType: "html",
        success: function(data) {
          alert("get_response");
          console.log(data);
          $("html").empty().html(data);
        },
        beforeSend: function(xhr) {
          var credentials = $.base64.encode("request:response");
          xhr.setRequestHeader("Authorization", "Basic " + credentials);
        }
      });
    });

    $(".send_post_sync").click(function() {
      $.ajax({
        async: false,
        headers: expand_headers(),
        type: "POST",
        url: "/",
        dataType: "html",
        success: function(data) {
          $("html").html(data);
        }
      });
    });

  });
